/***********************************************************************************************************************************************
 * REEDSY COMPONENTS
 ***********************************************************************************************************************************************
 * @description
 */

@import "tile/tile";


//
// LIKES
//------------------------------------------------------------------------------------------//
// @description
.likes-icon {
  background-image: url(images/misc/favorite.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: inline-block;
  width: 20px;
  height:20px;
}
